/* Global Rules */

body {
    color: #3c4858;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    line-height: 1.667;
}

nav, section {
    display: block;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 1.3em;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
}

h1, h2, h3 {
    font-family: "Work Sans Bold",sans-serif;
    font-weight: 700;
    margin: 0 0 .5em 0;
}

h1 {
    font-size: 2.375rem;
    line-height: 2.75rem;
 }

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.375rem;
    line-height: 2.25rem;
}

img, picture {
    margin: 0;
    max-width: 100%;
    width: unset;
    height: unset;
}

/* Classes */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.main {
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}

.bkgd-coconut {
    background: #ffe8e0;
    color: #3c4858;
}

.cta {
    display: inline-block;
    padding: 1em 2em;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
    font-size: 14px;
    margin-top: 1em;
    font-family: "Open Sans",sans-serif;
    font-family: "Open Sans SemiBold",sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer !important;
    color: #fff !important;
    text-transform: uppercase;
    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: #8e44ad;
}

.cta-alt {
    display: inline-block;
    padding: 1em 2em;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
    font-size: 14px;
    margin-top: 1em;
    font-family: "Open Sans",sans-serif;
    font-family: "Open Sans SemiBold",sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer !important;
    color: #fff !important;
    text-transform: uppercase;
    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: #00aeef;
}

.cta-secondary {
    color: #cc66a0;
    letter-spacing: 1px;
    font-family: "Open Sans",sans-serif;
    font-family: "Open Sans SemiBold",sans-serif;
    font-weight: 600;
    position: relative;
    display: inline-block;
    z-index: 103;
}