.row-block, .row-block-full {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
}

.row-block .col_1, .row-block-full .col_1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%;
}

.row-block .col_2, .row-block-full .col_2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%;
}

.row-block .col_4, .row-block-full .col_4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
}

.row-block .col_5, .row-block-full .col_5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
}

.row-block .col_5:last-child, .row-block-full .col_5:last-child {
    margin-right: 0;
}

.row-block .col_6, .row-block-full .col_6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
}


.row-block .col_7, .row-block-full .col_7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
}