#homepage .wrapper-home-a {
    padding-top: 6em;
    padding-bottom: 4em;
}

#homepage .wrapper-home-b {
    padding-top: 1em;
    padding-bottom: 1em;
}

.wrapper {
    padding-top: 3.125em;
    padding-bottom: 3.125em;
}